* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 50;
}

#particles-js {
    /*height: 800px;*/
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.footer {
    color: #5d5e5d;
    text-align: center;
}

.center {
    display: block;
    position: fixed;
    /*_position: absolute;*/
    top: 50%;
    left: 50%;
    width: 666px;
    height:400px;
    margin-left: -333px;
    margin-top: -200px;
    z-index: 1;
    text-align: center;
    background-color: rgba(255,255,255,0);
    /*box-shadow: 2px 2px 4px #A0A0A0, -2px -2px 4px #A0A0A0;*/
    /*background-color: #fff;*/
}

.text-index{
    display: inline-block;
    color: ghostwhite;
}

.avatar{
    border-radius: 50%;
    width: 128px;
    /*clear: both;*/
    /*display: block;*/
    /*margin: auto;*/
}

.list-inline{
    list-style: none;
    background-color: rgba(255,255,255,0);
}

.none-background{
    background-color: rgba(255,255,255,0);
}

.white-background{
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    border: white;
    margin-top: 32px;
    padding: 20px;
    /*min-height: 200px;*/
}

.main{
    margin-top: 100px;
    /*min-height: 500px;*/
}

.pagination{
    margin-bottom: 100px;
    z-index: 0;
}

.time{
    color: #5d5e5d;
    float: right;
    font-size: 16px;
}

.text-side{
    color: azure;
}

h4{
    text-align: center;
}

.panel{
    text-align: center;
    display: block;
}

a{
    text-decoration: none;
}
.link{
    color: #cccccc;
}
a:hover {
    text-decoration:none;
    color: #ffffff;
}

.article-info{
    position: absolute;
    top: 60px;
    right: 60px;
}
