<h3>Comments</h3>
{% for comment in comment %}
    <div class="comment">
        <p>{{ comment.name }}:</p>
        <p>{{ comment.content | safe_markdown}}</p>
    </div>
{% endfor %}
    <div id="editormd">
        <label>
            <textarea class="text" style="display:none;"></textarea>
        </label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" placeholder="Username" id="name">
        </div>
        <div class="col-md-6">
            <input class="form-control" placeholder="E-mail" id="mail">
        </div>
    </div>
    <textarea style="display: none;" id="a_id">{{ a_id }}</textarea>
    <button onclick="mysubmit()" class="btn btn-primary form-control">发表评论</button>

{#<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>#}



