{% extends "base.html" %}
{% block content %}
        <div class="center">
            <img class="avatar" src = "{{ url_for('static',filename='img/avatar.jpg') }}"><br>
            <h2 class="text-index">尘封</h2><br>
            <p class="text-index">这里是世界线 β……</p>
            <ul class="list-inline">
                <li class="none-background">
                    <a href="https://github.com/hfcj39" target="_blank" style="font-size: 26px;">
                        <i class="fa fa-github none-background" title="GITHUB"></i>
                    </a>
                </li>
                <li class="none-background">
                    <a href="mailto:hfcj1839@gmail.com" target="_blank" style="font-size: 26px;">
                        <i class="fa fa-envelope none-background" title="EMAIL"></i>
                    </a>
                </li>
            </ul>
        </div>

{% endblock content %}
