{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Pinterest.css') }}">
{% endblock styles %}
{% block content %}
    <div class="row col-md-10 col-md-offset-1 wrap">
        {% for item in list %}
            <img src="{{ url_for('static',filename='pictures/'+item.path) }}" alt="image" data-title="{{ item.text }}"
                 data-subtitle="{{ item.updated_at | date }}">
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/Pinterest.js') }}"></script>
    <script>
        $('.wrap').pinterest({
            line: 4,
            gap: 15,
            responsive: [{
                maxWidth: 1244,
                minWidth: 769,
                line: 3,
                gap: 10
            }, {
                maxWidth: 768,
                line: 2,
                gap: 20
            }, {
                maxWidth: 400,
                line: 1,
                gap: 25
            }]
        });


        /*function loadmore() {
            let offset = $('.pinterest-img-wrap>img').length + 1;
            console.log(offset)
            $.post('/index/load_picture', {offset}, function (data) {
                if (data)
                    for (let pic of data.rst){
                        setTimeout(()=>{
                            $('.wrap').pinterest('add', '/static/pictures/'+pic.path, pic.text,pic.updated_at)
                            console.log('add 1 pic')
                        },2000)
                    }
            })
        }*/
        //解决方案1：递归
        async function loadmore(count) {
            let offset = $('.pinterest-img-wrap>img').length + 1;
            console.log(offset)
            if(count>0){
                let rst = await $.post('/index/load_one_picture', {offset})
                if (rst.path){
                    $('.wrap').pinterest('add', '/static/pictures/'+rst.path, rst.text,rst.updated_at)
                    count--
                    loadmore(count)
                }
            }
        }

        $(window).scroll(function () {
            let scrollTop = $(this).scrollTop();
            let scrollHeight = $(document).height();
            let windowHeight = $(this).height();
            if (scrollTop + windowHeight === scrollHeight) {
                //调用load（）
                loadmore(5)
                {#alert("you are in the bottom");#}
            }
        });
    </script>

{% endblock scripts %}
